variables:
  PHLOWER_IMAGE_VERSION: 1.0.0
  PHLOWER_IMAGE_REGISTRY: registry.ritc.jp/ricos/machine_learning/phlower
  GIT_STRATEGY: fetch
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_DEPTH: 0

stages:
  - setup
  - test
  - document_test
  - deploy

default:
  image: ${PHLOWER_IMAGE_REGISTRY}:${PHLOWER_IMAGE_VERSION}-py312-cpu
  before_script:
    - tar -xzf venv.tar.gz || true

setup_cpu_env_py311:
  image: ${PHLOWER_IMAGE_REGISTRY}:${PHLOWER_IMAGE_VERSION}-py311-cpu
  stage: setup
  before_script: []
  script:
    - make install CUDA_TAG="cpu"
    - tar -czf venv.tar.gz .venv
  tags:
    - no-gpu
  artifacts:
    paths:
      - venv.tar.gz
  dependencies: []


setup_cpu_env_py312:
  stage: setup
  before_script: []
  script:
    - make install CUDA_TAG="cpu"
    - tar -czf venv.tar.gz .venv
  tags:
    - no-gpu
  artifacts:
    paths:
      - venv.tar.gz
  dependencies: []


setup_gpu_env_py311:
  image: ${PHLOWER_IMAGE_REGISTRY}:${PHLOWER_IMAGE_VERSION}-py311-cu124
  stage: setup
  before_script: []
  script:
    - make install CUDA_TAG="cu124"
    - tar -czf venv.tar.gz .venv
  tags:
    - no-gpu
  artifacts:
    paths:
      - venv.tar.gz
  dependencies: []


lint:
  stage: test
  script:
    - make lint
  tags:
    - no-gpu
  needs:
    - job: setup_cpu_env_py312
      artifacts: true

pytest_with_py312:
  stage: test
  script:
    - make test
    - uv run coverage html -d coverage
    - uv run coverage xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    expose_as: coverage
    paths:
      - coverage/
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  tags:
    - no-gpu
    - GenuineIntel
  needs:
    - job: setup_cpu_env_py312
      artifacts: true


pytest_with_py311:
  stage: test
  image: ${PHLOWER_IMAGE_REGISTRY}:${PHLOWER_IMAGE_VERSION}-py311-cpu
  script:
    - make test
  needs:
    - job: setup_cpu_env_py311
      artifacts: true


e2e_test:
  image: ${PHLOWER_IMAGE_REGISTRY}:${PHLOWER_IMAGE_VERSION}-py311-cu124
  stage: test
  variables:
    NCCL_DEBUG: "INFO"
  script:
    - uv run python3 -c "import torch; print(torch.cuda.get_arch_list())"
    - make e2e_test
  tags:
    - multi-gpu
    - GenuineIntel
    - sm_75
  needs:
    - job: setup_gpu_env_py311
      artifacts: true

examples:
  image: ${PHLOWER_IMAGE_REGISTRY}:${PHLOWER_IMAGE_VERSION}-py311-cu124
  stage: test
  script:
    - uv run python3 -c "import torch; print(torch.cuda.get_arch_list())"
    - make examples
  tags:
    - gpu
    - GenuineIntel
    - sm_75
  needs:
    - job: setup_gpu_env_py311
      artifacts: true

pages_test:
  stage: document_test
  script:
    - uv sync --extra cpu --group docs
    - make document
  tags:
    - no-gpu
    - GenuineIntel
  artifacts:
    paths:
      - docs/build/html/
  needs:
    - job: setup_cpu_env_py312
      artifacts: true

pages:
  stage: deploy
  script:
    - mkdir public
    - cp -r docs/build/html/* public/
  artifacts:
    paths:
      - public
  needs:
    - job: pages_test
      artifacts: true
    - job: setup_cpu_env_py312
      artifacts: true
  only:
    - main
    - develop
    - fix_sphinx

.deploy:wheel:
  stage: deploy
  script:
    - uv version $VERSION
    - uv build
    - uv publish --username __token__ --password $PYPI_PUBLISH_TOKEN -n -v


deploy:wheel:tags:
  image: python:3.11-slim
  extends: .deploy:wheel
  before_script:
    - pip install uv
    - export VERSION=$CI_COMMIT_REF_NAME
  only:
    - tags

# docker:
#   stage: deploy
#   services:
#     - docker:dind
#   script:
#     - make push
#   only:
#     - main

