.. currentmodule:: phlower.nn

Preset group
=============

.. autosummary::
    :toctree: generated
    :template: autosummary/nn.rst
    
    {% for name in preset_names -%}
    {{ name }}
    {% endfor %}
