name: github pages

on:
  push:
    branches:
      - main

jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install make
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: setup
        shell: bash
        run: |
          pip install uv
          uv sync --extra cpu --group docs

      - name: build_pages
        shell: bash
        run: |
          make document
          mkdir public
          cp -r docs/build/html/* public/

      - name: upload_artifacts
        uses: actions/upload-artifact@v4
        with:
          name: html_pages
          path: public/ # or path/to/artifact

  deploy_docs:
    runs-on: ubuntu-latest
    needs: build_docs
    steps:

      - name: download_artifacts
        uses: actions/download-artifact@v4
        with:
          name: html_pages
          path: public/

      - name: deploy_pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: public
          force_orphan: true
